/* Soluzione qui */

/* tablet */

@media screen and (min-width: 768px){

    #topbar{
        justify-content: start;
    }

    .container{
        padding: 20px;
    }

    .recipe-origin{
        display: inline;
    }

    .recipe-name{
        font-size: 2rem;
    }

    .quick-notes li{
       display: inline-block;
         width: calc((100% / 3) - (15px * 2) / 3);   
    }

    .btn{
        padding: 10px 50px;
    }

    .ads {
	    display: block;
    }

    .presentation img{
        float: left;
        width: 40%;
        margin: 0 10px 10px 0;
    }
}

/* desktop */

@media screen and (min-width: 992px){

    .recipe-name{
        font-size: 2.5rem;
    }

    .quick-notes li{
        width: 100%;
        margin: 10px;
    }

    .recipe-card{
        display: flex;
        height: 0;
        min-height: 400px;
    }

    .recipe-video{
        display: flex;
        height: auto;
        flex-grow: 1;
        width: 70%;
        flex-shrink: 0;
    }

    .social-networks .label{
        display: inline;
    }

    .btn{
        display: inline;
        padding: 10px 40px;
    }

    footer{
        display: flex;
        justify-content: space-between;
        text-align: start;
    }

    strong{
        text-align: start;
    }
}

/* Bonus*/

@media screen and (min-width: 576px){

    
}